<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div id="text">
        <h1>klax</h1>
      </div>
      <div id="ball"><img src="https://images.unsplash.com/photo-1612490689933-b1a150e7aa5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt=""></div>
      
      <!-- font-family  -->
      <link href="https://api.fontshare.com/v2/css?f[]=outfit@400,900,800,500,600,700&display=swap" rel="stylesheet">
    <script src="/javascripts/index.js"></script>

</body>
</html>