<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-start">
        <a href="/logout" class="btn btn-outline-danger me-2" type="button">Logout</a>
      </div>
    </nav>
    <h3 class="bg-cyan-500">Profile Page</h3>

  </body>
</html>